version: "3.7"

# This file is managed automatically by Origami and must not be updated manually.
# If you want to make customizations, edit the "docker-compose.override.yml" file instead.

services:
  blackfire:
    image: blackfire/blackfire:2
    environment:
      - BLACKFIRE_DISABLE_LEGACY_PORT=1
      - BLACKFIRE_LOG_LEVEL=2
      # Credentials should be configured on the host system (https://docs.docker.com/compose/compose-file/compose-file-v3/#environment).
      - BLACKFIRE_SERVER_ID
      - BLACKFIRE_SERVER_TOKEN
      - BLACKFIRE_CLIENT_ID
      - BLACKFIRE_CLIENT_TOKEN
    depends_on:
      - php

  elasticsearch:
    image: ${DOCKER_ELASTICSEARCH_IMAGE}
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    volumes:
      - elasticsearch:/usr/share/elasticsearch/data

# <== DATABASE PLACEHOLDER ==>

  maildev:
    image: djfarrelly/maildev:latest
    platform: linux/amd64
    depends_on:
      - php
    ports:
      - "1080:80"

  nginx:
    image: ajardin/magento2-nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      # Project files
      - code:/var/www/html:delegated
      # SSL certificates
      - ${PROJECT_LOCATION}/var/docker/nginx/certs:/etc/nginx/ssl:cached
      # Custom configuration
      - ${PROJECT_LOCATION}/var/docker/nginx/custom.conf:/etc/nginx/conf.d/custom.conf:ro
    depends_on:
      - php
    tty: true

  php:
    image: ${DOCKER_PHP_IMAGE}-blackfire
    environment:
      - SSH_AUTH_SOCK=/run/host-services/ssh-auth.sock
    volumes:
      # Project files
      - code:/var/www/html:delegated
      # Custom configuration
      - ${PROJECT_LOCATION}/var/docker/php/php-cli.ini:/usr/local/etc/php/php-cli.ini:ro
      - ${PROJECT_LOCATION}/var/docker/php/php-fpm-fcgi.ini:/usr/local/etc/php/php-fpm-fcgi.ini:ro
      # SSH socket
      - /run/host-services/ssh-auth.sock:/run/host-services/ssh-auth.sock
      # Composer cache directory
      - type: bind
        source: ${COMPOSER_CACHE_DIR:-~/Library/Caches/composer}
        target: /.composer/cache
    tty: true

  php_xdebug:
    image: ${DOCKER_PHP_IMAGE}-xdebug
    environment:
      - PHP_IDE_CONFIG=serverName=origami
    volumes:
      # Project files
      - code:/var/www/html:delegated
      # Custom configuration
      - ${PROJECT_LOCATION}/var/docker/php/php-cli.ini:/usr/local/etc/php/php-cli.ini:ro
      - ${PROJECT_LOCATION}/var/docker/php/php-fpm-fcgi.ini:/usr/local/etc/php/php-fpm-fcgi.ini:ro
      - ${PROJECT_LOCATION}/var/docker/php/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini:ro
    tty: true

  redis:
    image: ${DOCKER_REDIS_IMAGE}
    volumes:
      - redis:/data
    tty: true

  synchro:
    image: ajardin/synchro:latest
    container_name: ${COMPOSE_PROJECT_NAME}_synchro
    volumes:
      - code:/var/www/html:nocopy

volumes:
  code: {}
  elasticsearch: {}
  database: {}
  redis: {}
